<h3><__trans phrase="Settings of Blogs."></h3>
    <mtapp:setting
        id="selected_blog_id"
        label="<__trans phrase="Blog.">">
    <ul>
    <li>*selected_blog_id*</li>
    </ul>
    </mtapp:setting>